[package]
name = "alpm"
version = "2.2.1"
authors = ["morganamilo <morganamilo@gmail.com>"]
readme = "../README.md"
edition = "2018"

description = "Rust bindings for libalpm"
homepage = "http://github.com/archlinux/alpm.rs"
repository = "http://github.com/archlinux/alpm.rs"
documentation = "https://docs.rs/alpm"
license = "GPL-3.0"
keywords = ["archlinux", "arch", "alpm", "pacman"]
categories = ["api-bindings"]
exclude = ["tests"]

[package.metadata.docs.rs]
no-default-features = true
features = [ "docs-rs" ]

[features]
default = ["checkver"]
mtree = ["libarchive", "libarchive3-sys"]
git = ["alpm-sys/git"]
static = ["alpm-sys/static"]
generate = ["alpm-sys/generate"]
checkver = []
docs-rs = ["alpm-sys/docs-rs"]

[dependencies]
bitflags = "1.3.2"
libarchive = { version = "0.1.1", optional = true }
libarchive3-sys = { version = "0.1.2", optional = true }
alpm-sys = { path = "../alpm-sys", version = "2.1.0" }

[build-dependencies]
alpm-sys = { path = "../alpm-sys", version = "2.1.2" }

[dev-dependencies]
criterion = "0.3.5"

[[bench]]
name = "list"
harness = false
